# Created by https://www.gitignore.io/api/codeigniter

### CodeIgniter ###
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

### CodeIgniter Patch ###
#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/