<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Green life Admin</title>

<link href="bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<link href="font-awesome-4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
<link href="style.css" type="text/css" rel="stylesheet" />
</head>

<body>
	<!-- title bar -->
    <div class="title-bar bg-primary">
    	<div class="col-sm-2 top-left">
        	sdfsd
        </div>
        
        <!-- top right -->
        <div class="col-sm-10 top-right">
       		<div class="top-menu">
            	<ul>
                	<li><span class="fa fa-envelope"></span></li>
                    <li><span class="fa fa-envelope"></span></li>
                    <li><img src="user.jpg" class="img img-circle" />Tawhid</li>
                    <li><span class="fa fa-envelope"></span></li>
                
                </ul>
            
            </div>
        </div>
    
    </div>
    
    <!-- left panel -->
    <div class="col-sm-2 left-panel">
    	
        <!-- left panel -->
        <div class="menu">
        	<ul>
            	<li><a href="#"><span class="fa fa-bed"></span> <span class="hide-in-small">Patient</span> <div class="pull-right"><span class="fa fa-angle-right"></span></div></a>
                	<ul>
                    	<li><a href="#">Register new patient</a></li>
                        <li><a href="#">Patient history</a></li>
                        <li><a href="#">Patient profile</a></li>
                        <li><a href="#">Edit</a></li>
                    </ul>
                </li>
                
                
                <li><a href="#">Doctor</a>
                	
                
                </li>
                <li><a href="#">Diagnostics <div class="pull-right"><span class="fa fa-angle-right"></span></div></a>
                	<ul>
                    	<li><a href="#">Register new patient</a></li>
                        <li><a href="#">Patient history</a></li>
                        <li><a href="#">Patient profile</a></li>
                        <li><a href="#">Edit</a></li>
                    </ul>
                
                </li>
                <li><a href="#">Reports</a>
                	<ul>
                    	<li><a href="#">Register new patient</a></li>
                        <li><a href="#">Patient history</a></li>
                        <li><a href="#">Patient profile</a></li>
                        <li><a href="#">Edit</a></li>
                    </ul>
                
                </li>
                <li><a href="#">Medicine</a>
                	<ul>
                    	<li><a href="#">Register new patient</a></li>
                        <li><a href="#">Patient history</a></li>
                        <li><a href="#">Patient profile</a></li>
                        <li><a href="#">Edit</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>


</body>
</html>
